@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

body {
    font-family: "DM Sans", sans-serif;
}

.font-dm {
    font-family: var(--font-dm-sans), sans-serif;
}

.font-poppins {
    font-family: var(--font-poppins), sans-serif;
}


.backgroung-img {
    background: url('/assets/images/svg/input.svg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-bg {
    background: url('/assets/images/png/ellipse.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: 100% 100%;
}


.btn-bg {
    background: url('/assets/images/png/btn-bg.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

}

/* .hero-bg {
    background: url('/assets/images/png/hero-bg.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
} */

.hero-box-bg{
    background: url('/assets/images/png/icon-ellipse.png');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
}