@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

body{
    font-family: "DM Sans", sans-serif;
}


.backgroung-img {
    background: url('/assets/images/svg/input.svg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-img {
    background: url('/assets/images/png/ellipse.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: 100% 100%;
}